#winClose {
　　　　　　-fx-cursor:hand;
　　　　}

　　　　#winClose{
　　　　　　-fx-background-image:url("img/鞠村購液.png");
　　　　　　-fx-background-repeat:no-repeat;
　　　　}

　　　　#winClose:hover {
　　　　　　-fx-background-image:url("img/購液.png");
　　　　}

　#winClose:pressed {
　　　　　　-fx-background-image:url("img/購液.png");
　　　　}